<mat-card role="group">
  <mat-card-title-group>
    <mat-icon>{{icon}}</mat-icon>
    <mat-card-title>
      {{name}}
    </mat-card-title>
    <mat-card-subtitle>
      Sensors Group <span class="my-nowrap">({{stat.num}} members)</span>
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <div class="my-flex">
            <span class="my-flex-half">
                <mat-icon>done_all</mat-icon> OK: {{stat.ok.size}}
            </span>
      <span class="my-flex-half">
                <span  *ngIf="stat.ok.size < stat.num" class="my-color-red">
                    <mat-icon>error_outline</mat-icon>
                    Warn: {{stat.num - stat.ok.size}}
                </span>
            </span>
      <span class="my-flex-half my-color-grey">
                <mat-icon>check_box</mat-icon> {{stat.on.size}} is ON
            </span>
      <span class="my-flex-half my-color-grey">
                <mat-icon>check_box_outline_blank</mat-icon> {{stat.off}} is OFF<br>
            </span>
    </div>
  </mat-card-content>
</mat-card>
