<mat-form-field appearance="outline" class="app-search-sticker"
                [formGroup]="searchForm"
                [class.app-folded]="searchFolded">
  <input matInput
         formControlName="text"
         (focus)="searchFocus(true)"
         (blur)="searchFocus(false)"
         autocomplete="off"
         [matAutocomplete]="auto">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete" panelWidth="220px">
  <ng-template [ngIf]="!searchFolded">
    <mat-option *ngFor="let option of autoCompleteList" [value]="option">{{option}}</mat-option>
  </ng-template>
</mat-autocomplete>
