<rpi-spinner *ngIf="!loadingStatus.loaded"></rpi-spinner>
<ng-container *ngIf="loadingStatus.loaded">
	<ng-container *ngFor="let group of sensorGroups; let i = index; trackBy: trackGroup">
		<rpi-group-card [sensors]="sensors" [sensorGroup]="group"></rpi-group-card>
		<div class="rpi-grid rpi-margin-top rpi-margin-bottom">
			<rpi-sensor-card
				*ngFor="let sensorId of group?.members; trackBy: trackSensorId"
				[sensor]="sensors[sensorId]"
			></rpi-sensor-card>
		</div>
	</ng-container>
	<div class="search">
		<input class="input" matInput spellcheck="false" autocomplete="off" [formControl]="ctrl" />
		<mat-icon *ngIf="ctrl?.value?.length" (click)="ctrl.setValue('')">clear</mat-icon>
		<mat-icon *ngIf="!ctrl?.value?.length">search</mat-icon>
	</div>
</ng-container>
