:host {
	display: block;

	.title {
		display: flex;
		flex-direction: row;

		&-name {
			flex: 1;
		}
	}

	.temperature {
		font-size: 40px;
		padding: 20px;
		text-align: center;

		.border {
			border: 2px solid var(--white);
			border-radius: 50%;
			box-sizing: border-box;
			display: inline-block;
			height: 90px;
			padding-top: 0.85em;
			width: 90px;
		}
	}

	.flex {
		display: flex;
		flex-direction: row;
	}

	.buttons {
		align-items: center;
		width: 100%;

		.middle {
			flex: 1;
		}
	}

	.ac-modes {
		flex-basis: auto;
		flex-grow: 1;
		padding: 0;
		text-align: center;
	}

	.schedule {
		visibility: hidden;

		&.visible {
			visibility: visible;
		}
	}

	.select-box {
		width: 5rem;
	}

	.rpi-grid {
		align-content: center;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
		justify-content: space-between;
		justify-items: center;
	}

}

