:host {
	--card-height: calc(var(--offset) * 3.5);

	.card {
		align-items: center;
		display: flex;
		max-height: var(--card-height);
		min-height: var(--card-height);
		overflow: hidden;
		padding: 0 var(--offset);

		.name {
			align-items: center;
			display: flex;
			flex: 1;
			gap: 1rem;
		}
	}

	.down-right {
		bottom: calc(-1 * var(--offset-xs));
		font-size: 10px;
		position: absolute;
		right: var(--offset-s);

		.id {
			color: var(--grey3);
			margin-right: var(--offset-xs);
		}
	}

}
