<mat-card *ngIf="sensor" class="card">
	<div (click)="toDetails.emit()" class="name">
		<mat-icon
			*ngIf="sensor.readonly"
		>{{ sensor.icon }}</mat-icon
		>
		<mat-icon
			*ngIf="!sensor.readonly"
			[sensor]="sensor"
			rpiSensorState
		>
			{{ sensor.icon }}
		</mat-icon>
		<div class="sensor-name">
			{{ sensor.name }}
		</div>
		<mat-icon (click)="toggleFavourites.emit()" *ngIf="isFavourite !== undefined" class="favourites">{{
			isFavourite ? 'star' : 'star_border'
			}}</mat-icon>
	</div>

	<rpi-sensor-status [sensor]="sensor"></rpi-sensor-status>
	<div class="down-right">
		<span class="id"> id: {{ sensor.id }} </span>
		{{ sensor.lastChange | timeAgo }}
	</div>
</mat-card>
