<mat-list>
	<mat-list-item (click)="go.emit(pages.Dashboard)">
		<mat-icon>home</mat-icon>
		Dashboard
	</mat-list-item>

	<mat-list-item (click)="go.emit(pages.Sensors)">
		<mat-icon>list</mat-icon>
		All Sensors
	</mat-list-item>

	<mat-list-item *ngFor="let group of groups" class="level2" (click)="go.emit([pages.Sensors, group.name])">
		<mat-icon>{{group.icon}}</mat-icon>
		{{group.name | titlecase}}
	</mat-list-item>

	<mat-list-item (click)="go.emit(pages.DbTables)">
		<mat-icon>settings</mat-icon>
		Administration
	</mat-list-item>
	<mat-list-item (click)="go.emit([pages.Login])">
		<mat-icon>logout</mat-icon>
		Logout
	</mat-list-item>
</mat-list>
