<mat-list>
	<mat-list-item (click)="go.emit(pages.Dashboard)">
		<mat-icon>home</mat-icon>
		Dashboard
	</mat-list-item>

	<mat-list-item (click)="go.emit(pages.Sensors)">
		<mat-icon>list</mat-icon>
		All Sensors
	</mat-list-item>

	<mat-list-item (click)="go.emit([pages.Sensors, group.name])" *ngFor="let group of groups" class="level2">
		<mat-icon>{{ group.icon }}</mat-icon>
		{{ group.name | titlecase }}
	</mat-list-item>

	<mat-list-item (click)="showSchedules.emit()">
		<mat-icon>schedule</mat-icon>
		Schedules
	</mat-list-item>

	<mat-list-item (click)="go.emit(pages.DbTables)" *ngIf="user?.isAdmin">
		<mat-icon>settings</mat-icon>
		Administration
	</mat-list-item>
	<mat-list-item (click)="go.emit(pages.Login)">
		<mat-icon>logout</mat-icon>
		<span *ngIf="user?.picture" [style.background-image]="'url(' + user?.picture + ')'" class="avatar"></span>
		Logout
	</mat-list-item>
	<div class="version">
		v.{{env.releaseVersion}} ({{env.releaseDate}})
	</div>
</mat-list>
