:host {
	display: block;
	user-select: none;
	width: 15rem;

	.level2 {
		margin-left: var(--offset);
	}

	.mat-list-item {
		cursor: pointer;

		.mat-icon {
			margin-right: var(--offset-s);
		}
	}

	.avatar {
		background-size: contain;
		border-radius: 50%;
		display: inline-block;
		height: 1.2rem;
		margin-right: var(--offset-s);
		width: 1.2rem;
	}
}
