<mat-card role="group">
	<mat-card-title-group class="pointer" (click)="goToGroup.emit(sensorGroup.name)">
		<mat-icon>{{sensorGroup.icon}}</mat-icon>
		<mat-card-title>
			{{sensorGroup.name}}
		</mat-card-title>
		<mat-card-subtitle>
			Sensors Group <span class="my-nowrap">({{stat.num}} members)</span>
		</mat-card-subtitle>
	</mat-card-title-group>
	<mat-card-content>
		<div class="my-flex">
            <span [class.state-good]="stat.ok === stat.num">
                <mat-icon>done_all</mat-icon>
				OK: {{stat.ok}}
            </span>
			<span>
                <span  *ngIf="stat.ok < stat.num" class="state-error">
                    <mat-icon>error_outline</mat-icon>
                    Warn: {{stat.num - stat.ok}}
                </span>
            </span>
			<span class="grey" *ngIf="stat.on">
                <mat-icon *ngIf="stat.on">lightbulb</mat-icon>
				{{stat.on}} is ON
            </span>
			<span class="grey" *ngIf="stat.off">
                <mat-icon>lightbulb_outline</mat-icon> {{stat.off}} is OFF<br>
            </span>
		</div>
	</mat-card-content>
</mat-card>
