:host {
	.text-search {
		margin-right: var(--offset);
	}

	.mat-radio-button {
		margin: 0 var(--offset-s);
	}

	.flex {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: var(--offset-s);

		> * {
			white-space: nowrap;
		}
	}

	th.mat-header-cell,
	td.mat-cell {
		padding-right: var(--offset-xs) !important;
	}
}
