<div class="app">
	<mat-toolbar color="primary" class="top-toolbar">
		<button mat-icon-button (click)="toggleSideBar()" #menu>
			<mat-icon>menu</mat-icon>
		</button>
		<h1 class="mdContainer-title">{{title}}</h1>
	</mat-toolbar>

	<mat-sidenav-container class="page">
		<mat-sidenav #snav [mode]="slideMode()" [opened]="isSideBarOpened">
			<rpi-left-menu></rpi-left-menu>
		</mat-sidenav>

		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
