@import 'mixins';
@import '~@angular/material/theming';

::ng-deep {
    .my-flex-nowrap,
    .my-flex {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
    .my-flex-nowrap {
        flex-wrap: nowrap;
        align-items: center;
    }
    .my-flex-grow {
        flex-grow: 1;
    }
    .my-flex-shrink {
        flex-shrink: 1;
    }
    .my-flex-half {
        flex-basis: 50%;
        white-space: nowrap;
    }

    .my-grid {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 -20px 0 0;
        &-cell {
            padding: 20px 20px 0px 0;
            overflow: hidden;
            box-sizing: border-box;
            //min-width: 280px;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 25%;
            @include tablet {
                flex-basis: 33%;
            }
            @include phone {
                flex-basis: 50%;
            }

        }
    }
    .my-align-center {
        text-align: center;
    }
    .my-width-100 {
        width: 100%;
    }
    .my-margin-bottom {
        margin-bottom: 20px;
    }
    .my-nowrap {
        white-space: nowrap;
    }
    //$theme: $mat-pink;
    $primary: mat-palette($mat-purple);
    $accent:  mat-palette($mat-purple, A200, A100, A400);
    $theme: mat-light-theme($primary, $accent);



    .my-color-red {
        color: mat-color(map-get($theme, accent));
    }
    .my-color-grey {
        color: grey;
    }
    .my-color-warn {
        color: #FFCB68;
    }

    /* MATERIALes DESIGN */
    // md-switch
    .mat-slide-toggle-bar {
        background-color: rgba(255, 255, 255, 0.09);
    }
    .mat-slide-toggle-thumb {
        background-color: #777777;
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #1cff00;
    }
    // end md-switch
}

