:host {
	.app {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	.page {
		height: 100%;

		::ng-deep .mat-drawer-inner-container {
			overflow-x: hidden;
		}
	}

	.content {
		padding: var(--offset);
	}
}
