<app-search-button [group]="curGroup" (searchEvent)="onSearch($event)"></app-search-button>
<div *ngFor="let group of groups | keyvalue">
    <ng-template [ngIf]="!curGroup || group.key == curGroup">
        <mat-toolbar>
            <span class="my-flex-grow">{{group.key}}</span>
            <span>
                <mat-icon style="float:right">{{sensorsService.getGroupIcon(group.key)}}</mat-icon>
            </span>
        </mat-toolbar>
        <div class="my-grid my-margin-bottom">
            <div class="my-grid-cell" *ngFor="let id of group.value"
                 [class.my-hidden]="visibleSensors && visibleSensors.indexOf(id) === -1">
                <app-sensors-list-item [id]="id"></app-sensors-list-item>
            </div>
        </div>
    </ng-template>
</div>

