<mat-form-field appearance="outline" class="app-search-sticker" (dblclick)="resetSearch()" [class.app-folded]="!searchFocused && !search.length">
    <input matInput [(ngModel)]="search" (focus)="searchFocus(true)" (blur)="searchFocus(false)" autocomplete="off" [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of ['Table']" [value]="option">{{option}}</mat-option>
    <mat-option *ngFor="let option of getAutocomplete()" [value]="option">{{option}}</mat-option>
</mat-autocomplete>

<div *ngFor="let group of groups | keyvalue">
    <ng-template [ngIf]="!curGroup || group.key == curGroup">
        <mat-toolbar>
            <span class="my-flex-grow">{{group.key}}</span>
            <span>
                <mat-icon style="float:right">{{sensorsService.getGroupIcon(group.key)}}</mat-icon>
            </span>
        </mat-toolbar>
        <div class="my-grid my-margin-bottom">
            <div class="my-grid-cell" *ngFor="let sensor of group.value"
                 [class.my-hidden]="search && sensor.name.toLowerCase().indexOf(search.toLowerCase()) < 0">
                <app-sensors-list-item [sensor]="sensor"></app-sensors-list-item>
            </div>
        </div>
    </ng-template>
</div>

