table {
    width: 100%;
}
.my-small {
    font-size: 10px;
    color: #888;
    padding-left: 15px;
    white-space: nowrap;
}
.my-grid div {
    padding: 5px;
}

td.mat-cell:last-of-type {
    word-break: break-all;
}