$base-color: (
	white: #fff,
	black: #000,
	red: #eb5757,
	pale-red: #ec7a7a,
	orange: #f2994a,
	yellow: #f2c94c,
	green: #27ae60,
	blue: #2d9cdb,
	purple: #bb6bd9,
	dark-bg: #212121,
	grey: #c9cacd,
	grey1: #333,
	grey2: #4f4f4f,
	grey3: #828282,
	grey4: #bdbdbd,
	grey5: #e0e0e0,
	grey6: #fafbfc,
	grey7: #e5e5e5,
	grey8: #c9cacd42,
	color-ok: #27ae60,
	color-warn: #f2994a,
	color-error: #eb5757,
	light-green: #d5fde5,
	light-red: #ffe3e3,
	dark-green: #219653,
);
