@use '~@angular/material' as mat;
@use 'sass:map';
@import 'colors';
@import 'vars';
@import '../mixins/vars.mixin';
@import '../mixins/state.mixin';
@import '../helpers/functions';

@include mat.core();

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme($dark-primary, $dark-accent);

@include mat.all-component-themes($dark-theme);

$primary: map-get($dark-theme, primary);
$foreground: map-get($dark-theme, foreground);
$background: map-get($dark-theme, background);
$accent: map-get($dark-theme, accent);

$light-theme-colors: (
	primary: map-get($primary, A100),
	secondary: map-get($accent, A400)
);


:root {
	@include var-rgb-colors($base-color);
	@include var-range(--offset, #{$offset});

	@include state-color(on);
	@include state-color(pending);
	@include state-color(error);
	@include state-color(good);
}
