@import 'theme/theme';
@import 'theme/loader';
@import 'mixins/scroll.mixin';
@import 'mixins/responsive.mixin';

* {
	@include scroll();
	box-sizing: border-box;
}

.rpi-grid {
	--column-width: 14.5rem;
	display: grid;
	gap: var(--offset);
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fill, minmax(var(--column-width), 1fr));

	@include phone {
		--column-width: 13rem;
		gap: var(--offset-s);
	}

	&-cell {
		box-sizing: border-box;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
}

.rpi-margin-top {
	margin-top: var(--offset);
}

.rpi-margin-bottom {
	margin-bottom: var(--offset);
}

.tooltip-no-wrap {
	white-space: pre-line;
}
