@import 'theme/theme';
@import 'theme/loader';
@import 'mixins/scroll.mixin';
@import 'mixins/responsive.mixin';

* {
	@include scroll();
	box-sizing: border-box;
}

.rpi-grid {
	--columns: 4;
	display: grid;
	gap: var(--offset);
	grid-template-columns: repeat(var(--columns), 1fr);

	@include tablet {
		--columns: 3;
	}

	@include phone {
		--columns: 2;
	}

	&-cell {
		box-sizing: border-box;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
}

.rpi-margin-top {
	margin-top: var(--offset);
}

.rpi-margin-bottom {
	margin-bottom: var(--offset);
}
