<form mat-dialog-content [formGroup]="authForm" (ngSubmit)="doLogin()">
    <h1 class="my-flex-nowrap">
        <span class="my-flex-grow">
            Authorization
        </span>
    </h1>

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="login">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <br>
        <button mat-button type="submit">Login</button>
    </div>
</form>
