:host {
	.table {
		.line {
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 1fr;
			height: 50px;
		}

		.right {
			text-align: right;
		}
	}

	.flex {
		display: flex;
		flex-direction: row;
	}

	::ng-deep .mat-slider-thumb-label-text {
		line-height: 10px;
		text-align: center;
	}
}
