<div [formGroup]="form" mat-dialog-content>
	<h1 class="title">
        <span class="title-name">
            {{sensor.name}}
        </span>
		<span>
            [{{sensor.sensorState}}]
        </span>
	</h1>
	<div *ngIf="sensor">
		<div class="table">
			<div class="line">
				<div>State</div>
				<div class="right">
					<mat-slide-toggle [formControl]="form.controls.state"></mat-slide-toggle>
				</div>
			</div>
			<div class="line">
				<div>Repeat</div>
				<div class="right">
					<mat-select [formControl]="form.controls.repeat">
						<mat-option *ngFor="let val of repeatValues" [value]="val">
							{{val ? val : 'no repeat'}}
						</mat-option>
					</mat-select>
				</div>
			</div>
			<rpi-schedule-date-picker [control]="form.controls.date"></rpi-schedule-date-picker>

		</div>
	</div>
	<rpi-list-of-schedules [sensorId]="sensor.id"></rpi-list-of-schedules>
</div>
<div mat-dialog-actions>
	<div class="flex buttons">
		<div>
			<button (click)="setSchedule()" mat-button>Add Schedule</button>
		</div>
		<div>
			<button (click)="closeModal.emit()" mat-button>Close</button>
		</div>
	</div>
</div>
